.container {
  background: #e5e5e5;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.2125em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}
