.container {
  display: flex;
  margin: 0;
  font-family: "nunito";
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1175px) {
    display: block;
  }
}

.sub {
  display: flex;
  margin: 0;
  font-family: "nunito";
  align-items: center;
  justify-content: space-between;
}
