.container {
  background: #000000;
  border-radius: 15px;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  padding: 4.5em;
  padding-bottom: 7.9375em;

  h1 {
    font-size: 2.25em;
    color: #ffffff;
  }
  h2 {
    font-size: 1.875em;
    color: #ffffff;
    margin: 1em;
  }
  button {
    font-family: Nunito;
    font-size: 1.25em;
    background: #000000;
    border: 1px solid #f32ba3;
    box-sizing: border-box;
    border-radius: 15px;
    color: #f32ba3;
    padding: 0.75em 6em;
    margin: 1em;
  }
}

.container2 {
  background: rgba(229, 229, 229, 0.35);
  border-radius: 15px;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  padding: 2.375em;
  padding-top: 1.375em;

  h2 {
    font-size: 1.875em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 400;
    margin-top: 0.8em;
    margin-bottom: 2em;
  }
  button {
    font-size: 1.25em;
    font-family: Nunito;
    margin: 0 2em;
    padding: 0.5em 2em;

    &:nth-child(1) {
      background: #c4c4c4;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 15px;
      align-items: center;
      text-align: center;
      color: #f32ba3;
    }

    &:nth-child(2) {
      background: #000000;
      border: 1px solid #f32ba3;
      box-sizing: border-box;
      border-radius: 15px;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
}
