.container {
  display: flex;

  p {
    font-style: normal;
    font-weight: bold;
    margin: 0;
    margin-left: 0.875rem;
    line-height: 2.0625em;
    font-size: 1.5em;

    color: #000000;
  }
}
