.font {
  font-family: Nunito;
  font-style: normal;
}
.header {
  @extend .font;
  text-align: center;
  align-items: center;
  font-size: 1.875em;
  margin: 2em 2em 0.5em 2em;
}
.container {
  margin: 0 3em 0 2em;
  color: black;
  font-family: Nunito;
  font-style: normal;

  div {
    border-radius: 15px;
    display: flex;
    margin-bottom: 0.4em;

    &:nth-child(1) {
      background: #f32ba3;
    }

    &:nth-child(2) {
      background: #fbbbe2;
    }

    &:nth-child(3) {
      background: rgba(0, 0, 0, 0.15);
    }
  }

  h2 {
    width: 36%;
    font-size: 1.5625em;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    width: 64%;
    font-size: 1.25em;

    align-items: center;
    text-align: justify;
    line-height: 1em;
    padding: 1em;

    &:nth-child(4) {
      width: 100%;
      font-size: 1.375em;
      padding: 1em 0;
      margin-top: 1.33em;
    }
  }
}

.button {
  display: flex;
  gap: 8.5em;
  align-items: center;
  justify-content: center;
  button {
    border: 1px solid #f32ba3;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.7em 2em;
    margin: 1.5em 0 2.5em 0;

    &:nth-child(1) {
      background: #000000;
      box-sizing: border-box;
      border-radius: 15px;
  
      color: #ffffff;
    }

    &:nth-child(2) {
      background: #f32ba3;
      border-radius: 15px;
  
      color: #000000;
    }
  }

}
